@model DichVuGame.Models.ViewModels.SpinwheelViewModel
@{
    ViewData["Title"] = "SpinWheel";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/spinwheel/StyleSheet.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>


    <div style="zoom:2.5">

        <div class="modal" tabindex="-1" role="dialog" hidden>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <form asp-action="Reward" id="spin-form">
            <div id="wrapper">

                <div id="wheel">
                    <div id="inner-wheel">
                        <div class="sec"><span class="fa fa-gift"></span></div>
                        <div class="sec"><span class="fa fa-gift"></span></div>
                        <div class="sec"><span class="fa fa-gift"></span></div>
                        <div class="sec"><span class="fa fa-gift"></span></div>
                        <div class="sec"><span class="fa fa-gift"></span></div>
                        <div class="sec"><span class="fa fa-gift"></span></div>
                    </div>

                    <div id="spin">
                        <div id="inner-spin"></div>
                    </div>

                    <div id="shine"></div>
                </div>
                <div id="txt"></div>
            </div>
            <button type="submit" hidden></button>
        </form>
    </div>
</body>
<!--   End of Button Zone   -->
